.attract {
  padding-top: 73px;
  margin-bottom: 30px;
  background-color: @and-again-grey;
  background-image: url("../img/attract-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: 50% -15%;

  @media (min-width: @tablet-width) {
    padding-top: 110px;
    margin-bottom: 52px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag-fill-pattern.svg");
      background-repeat: repeat-x;
      background-position-x: center;
      background-size: 77px 24px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 113px;
    margin-bottom: 71px;

    &::after {
      bottom: -17px;
      height: 34px;
      background-size: 125px 34px;
    }
  }
}

.attract__box {
  @media (min-width: @tablet-width) {
    .limiter;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.attract__wrapper {
  @media (max-width: @only-mobile-width) {
    .limiter;
  }

  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
  }
}

.attract__container {
  margin-bottom: 120px;

  @media (min-width: @tablet-width) {
    margin-bottom: 372px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 355px;
  }
}

.attract__title {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 600px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.attract__subtitle {
  display: block;
  padding: 24px 130px 31px 0;

  @media (min-width: @tablet-width) {
    padding: 25px 130px 34px 36px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 140px;
  }
}

.attract__category {
  display: block;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: @color-white;
  text-decoration: none;

  &--interior {
    background-color: @color-accent1;

    .attract__wrapper::after {
      right: 40px;
      width: 40px;
      height: 62px;
      background-image: url("../img/icon/icon-interior.svg");

      @media (min-width: @tablet-width) {
        right: 36px;
      }
    }

    &:hover,
    &:focus {
      background-color: @block-hover;
      padding-bottom: 5px;
      margin-top: -5px;
    }

    &:active {
      background-color: @block-hover;
    }
  }

  &--toy {
    background-color: @color-accent2;

    .attract__wrapper::after {
      right: 30px;
      width: 60px;
      height: 60px;
      background-image: url("../img/icon/icon-toys.svg");

      @media (min-width: @tablet-width) {
        right: 33px;
      }
    }

    &:hover,
    &:focus {
      background-color: @mail-hover;
      padding-bottom: 5px;
      margin-top: -5px;
    }

    &:active {
      background-color: @mail-hover;
    }
  }

  &:hover,
  &:focus {
    .attract__wrapper::after {
      opacity: 0.7;
    }
  }

  &:active {
    .attract__wrapper::after {
      opacity: 0.3;
    }
  }
}
