.attract {
  padding-top: 73px;
  margin-bottom: 30px;
  background-color: @and-again-grey;
  background-image: url("../img/attract-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: @tablet-width) {
    padding-top: 110px;
    margin-bottom: 52px;
  }
}

.attract__box {
  @media (min-width: @tablet-width) {
    .limiter;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.attract__wrapper {
  @media (max-width: @only-mobile-width) {
    .limiter;
  }
}

.attract__title {
  margin: 0 auto;
  margin-bottom: 120px;

  @media (min-width: @tablet-width) {
    width: 600px;
    margin-bottom: 370px;
  }
}

.attract__category {
  display: block;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: @color-white;
  text-decoration: none;

  &--interior {
    background-color: @color-accent1;

    &:hover,
    &:focus {
      background-color: @block-hover;
      padding-bottom: 5px;
      margin-top: -5px;
    }

    &:active {
      background-color: @block-hover;
    }
  }

  &--toy {
    background-color: @color-accent2;

    &:hover,
    &:focus {
      background-color: @mail-hover;
      padding-bottom: 5px;
      margin-top: -5px;
    }

    &:active {
      background-color: @mail-hover;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.attract__subtitle {
  display: block;
  padding: 24px 130px 31px 0;

  @media (min-width: @tablet-width) {
    padding: 25px 130px 34px 36px;
  }
}
