.card {
  min-height: 374px;
  display: flex;
  flex-direction: column-reverse;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(@color-black-rgb, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(@color-black-rgb, 0.1);
  }

  @media (min-width: @tablet-width) {
    min-height: 334px;
    flex-direction: row-reverse;
  }

  @media (min-width: @desktop-width) {
    min-height: 659px;
    flex-direction: column-reverse;
  }
}

.card__border-box {
  padding: 27px 28px;
  border: 1px solid @light-grey;
  display: flex;
  flex-direction: column;
}

.card__title {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  width: 250px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.card__description {
  margin: 0;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 30px;
  color: @color-text;
}

.card__wrapper {
  margin-top: auto;
  padding-top: 22px;
  border-top: 1px solid @light-grey;
  display: flex;
  justify-content: space-between;
}

.card__price {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.card__add-cart {
  display: block;
  width: 20px;
  height: 19px;
  background-color: transparent;
  background-image: url("../img/icon/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .card__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
  }

  .card__description {
    font-size: 15px;
  }

  .card__price {
    font-size: 17px;
  }
}

.card__img {
  display: block;
  width: 260px;
  height: 195px;

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 315px;
    height: 462px;
  }
}
