.card {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 30px;
}

.card__border-box {
  padding: 27px 28px;
  border: 1px solid @light-grey;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(@color-black-rgb, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(@color-black-rgb, 0.1);
  }
}

.card__title {
  grid-column: ~"1/-1";
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  a {
    color: inherit;
    text-decoration: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__description {
  grid-column: ~"1/-1";
  margin: 0;
  margin-bottom: 22px;
  padding-bottom: 18px;
  border-bottom: 1px solid @light-grey;
  font-size: 13px;
  line-height: 30px;
  color: @color-text;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.card__price {
  justify-self: start;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.card__add-cart {
  justify-self: end;
  display: block;
  width: 20px;
  height: 19px;
  background-color: transparent;
  background-image: url("../img/icon/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.card__img {
  display: block;
}
