.contact {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    .limiter;
    margin-bottom: 105px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
  }
}

.contact__container {
  &--info,
  &--btn {
    @media (max-width: @before-desktop-width) {
      .limiter;
    }
  }

  &--map {
    margin-bottom: 45px;
    display: grid;

    @media (min-width: @tablet-width) {
      margin-bottom: 55px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &--info {
      grid-column: ~"2/4";
      grid-row: ~"1/3";
    }

    &--map {
      height: 457px;
      grid-column: ~"4/-1";
      grid-row: ~"1/-1";
    }

    &--btn {
      grid-column: ~"2/4";
      grid-row: ~"2/3";
    }
  }
}

.contact__title {
  margin: 0;
  margin-bottom: 28px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;

    &::after {
      content: "";
      position: absolute;
      top: -22px;
      right: 3px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 79px;
    margin-bottom: 34px;

    &::after {
      right: 0;
      top: -18px;
      left: -110px;
      background-image: url("../img/icon/icon-flag.svg");
    }
  }
}

.contact__info {
  margin: 0;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 30px;
  color: @color-text;

  dd {
    margin-left: 35px;
  }

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-bottom: 49px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    dd {
      margin-left: 25px;
    }
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-bottom: 0;
  }
}

.contact__info-box {
  display: flex;

  &--email {
    margin-bottom: 30px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 30px;
    }
  }
}

.contact__email-value {
  a {
    color: @color-text;
    text-decoration-color: @underline;

    &:hover,
    &:focus {
      color: @mail-hover;
      text-decoration-color: @mail-hover;
    }

    &:active {
      color: @mail-hover;
      text-decoration-color: rgba(@mail-hover-rgb, 0.1);
    }
  }
}

.contact__address-value {
  address {
    font-style: normal;
  }
}

.contact__map {
  display: block;
  width: 100%;
  grid-column: ~"1/2";
  grid-row: ~"1/2";
}

.contact__img-box {
  grid-column: ~"1/2";
  grid-row: ~"1/2";

  img {
    width: 320px;

    @media (min-width: @tablet-width) {
      width: 768px;
    }

    @media (min-width: @desktop-width) {
      width: 527px;
    }
  }
}

.contact__write {
  display: block;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}
