.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.copyright__text {
  margin-right: 23px;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
  color: @color-accent1;

  &:hover,
  &:focus {
    color: @mail-hover;
  }

  &:active {
    color: @mail-hover;
    opacity: 0.3;
  }
}
