.copyright {
  display: flex;
  justify-content: end;
  align-items: center;
}

.copyright__text {
  margin-right: 23px;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;

  &:hover,
  &:focus {
    path {
      fill: @mail-hover;
    }
  }

  &:active {
    .copyright__icon {
      opacity: 0.3;
    }

    path {
      fill: @mail-hover;
    }
  }
}
