.knitting__slogan {
  margin: 0;
  color: @color-text;
}

.knitting__container--slogan {
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
  }
}

.knitting__form {
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }
}
