.main-nav {
  position: absolute;
  top: 79px;
  z-index: 1;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.main-nav__toggle {
  position: absolute;
  left: 238px;
  top: -50px;
  display: block;
  padding: 0;
  width: 21px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--opened {
    background-image: url("../img/icon/icon-menu-close.svg");
  }

  &--closed {
    background-image: url("../img/icon/icon-menu.svg");
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  margin-left: -30px;
  padding: 0;
  list-style: none;
  width: 320px;
  background-color: @color-white;

  &--opened {
    display: block;
  }

  &--closed {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    margin-left: 0;
  }
}

.main-nav__item {
  background-color: @color-white;
  box-shadow: 0 1px 0 @light-grey, inset 0 1px 0 @light-grey;

  a {
    display: block;
    padding: 28px 10px 27px 76px;
    color: @color-black;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav__item {
    width: 168px;
    background-color: transparent;
    box-shadow: none;

    a {
      padding-left: 0;
    }

    &--search .main-nav__text {
      .hide;
    }

    &--cart .main-nav__text {
      font-size: 17px;
    }
  }
}
