.page-header__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__link-logo {
  box-sizing: border-box;
  margin: 0 auto;
  height: 79px;
  padding-top: 22px;
  padding-bottom: 22px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    height: 89px;
    margin-left: 0;
  }
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;

  @media (min-width: @tablet-width) {
    width: 113px;
    height: 46px;
  }
}

.page-header__links {
  margin: 0;
}
