.page-footer__color-box {
  background-color: @color-back;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 23px;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  margin: 0;
  margin-bottom: 27px;
}

.page-footer__copyright {
  margin-top: 22px;
}
