.process {
  margin-bottom: 58px;

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 105px;
  }
}

.process__wrapper {
  display: grid;

  @media (min-width: @desktop-width) {
    grid-template-columns: auto 1fr;
  }
}

.process__border-box {
  grid-column: ~"1/2";
  grid-row: ~"1/2";
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid @light-grey;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
    padding-bottom: 46px;
    grid-row: ~"2/3";

    &:hover,
    &:focus {
      box-shadow: 0 6px 10px rgba(@color-black-rgb, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(@color-black-rgb, 0.1);
    }
  }

  @media (min-width: @desktop-width) {
    padding: 96px 57px 0 77px;
    grid-column: ~"2/3";
    grid-row: ~"1/2";
  }
}

.process__title {
  margin: 0;
  margin-bottom: 211px;
  padding-left: 90px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 34px;
    width: 32px;
    height: 22px;
    background-image: url("../img/icon/icon-videocamera.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    align-self: flex-start;
    font-size: 20px;
    padding-left: 107px;
    margin-bottom: 25px;

    &::before {
      top: 0;
      left: 42px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 27px;

    &::before {
      top: -49px;
      left: 0;
    }
  }
}

.process__video {
  margin: 0;
  margin-top: 96px;
  grid-column: ~"1/2";
  grid-row: ~"1/2";
  align-self: start;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1/2";
    grid-row: ~"1/2";
  }
}

.process__description {
  margin: 0;
  margin-bottom: 41px;
  padding-left: 34px;
  padding-right: 15px;
  font-size: 13px;
  line-height: 24px;
  color: @color-text;

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    padding-right: 17px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 51px;
  }
}

.process__order {
  margin-left: 33px;
  margin-right: 33px;
  align-self: stretch;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-left: 41px;
    margin-right: 41px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
