.product {
  display: flex;
  flex-direction: column;
}

.product__name {
  margin: 0;
  margin-bottom: 4px;
}

.product__mark {
  margin: 0;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-accent1;
}

.product__image {
  display: block;
  margin-bottom: 25px;
  width: 260px;
  height: 315px;
}

.product__description {
  margin: 0;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 24px;
  color: @color-text;
}

.product__features {
  margin: 0;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;
  color: @color-text;
}

.product__feature {
  padding-top: 7px;
  padding-bottom: 12px;
  border-bottom: 1px solid @light-grey;

  dd {
    margin: 0;
  }
}

.product__price {
  margin: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: @color-text;
}
