.reviews {
  margin-bottom: 89px;

  @media (min-width: @tablet-width) {
    margin-bottom: 125px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 161px;
  }
}

.reviews__container {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    padding-top: 82px;
    padding-bottom: 47px;
    background-image: url("../img/back-review.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
  }

  @media (min-width: @desktop-width) {
    padding-top: 78px;
    padding-bottom: 96px;
    background-position: 50px top;
    grid-template-columns: repeat(6, 1fr);
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 38px;
    grid-column: ~"2/5";
    grid-row: ~"1/2";
  }
}

.reviews__write {
  width: 100%;
  order: 4;

  @media (min-width: @tablet-width) {
    width: 175px;
    order: initial;
    grid-column: ~"2/-1";
    grid-row: ~"1/2";
    justify-self: end;
    align-self: flex-start;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"-2/-1";
    grid-row: ~"1/2";
  }
}

.reviews__list {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    grid-column: ~"1/-1";
    grid-row: ~"2/-1";
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"2/-1";
    grid-row: ~"2/-1";
  }
}

.reviews__controls {
  display: flex;
  border: 1px solid @light-grey;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    border: none;
    grid-column: ~"2/-1";
    grid-row: ~"2/-1";
    z-index: 2;
    justify-self: end;
    align-self: flex-end;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"-2/-1";
    grid-row: ~"2/-1";
  }
}

.reviews__button {
  display: block;
  width: 128px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon/icon-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--next {
    transform: rotate(180deg);
    border-right: 1px solid @light-grey;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 90px;
    border: none;
  }
}
