.social {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
    justify-content: start;
  }

  @media (min-width: @desktop-width) {
    padding-left: 64px;
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 36px;
  }
}

.social__link {
  display: block;
  width: 23px;
  height: 28px;
  text-align: center;

  .social__icon {
    vertical-align: middle;
  }

  &:hover,
  &:focus {
    path {
      fill: @mail-hover;
    }
  }

  &:active {
    .social__icon {
      opacity: 0.3;
    }

    path {
      fill: @mail-hover;
    }
  }
}

