.video-demo__preview {
  display: block;
}

.video-demo__play {
  display: block;
  padding: 0;
  width: 101px;
  height: 77px;
  background-color: transparent;
  background-image: url("../img/icon/icon-play.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    width: 121px;
    height: 92px;
  }

  &:active {
    width: 81px;
    height: 62px;
    opacity: 0.3;
  }
}

.video-demo__description {
  font-size: 13px;
  line-height: 24px;
  color: @color-text;
}
