.page-header__container {
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-header__link-logo {
  display: inline-block;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo {
  display: block;
}

.page-header__links {
  margin: 0;
}
