// цвета
@color-white: #ffffff;
@color-white-rgb: 255, 255, 255;
@color-black: #000000;
@color-black-rgb: 0, 0, 0;
@color-text: #444444;
@color-text-rgb: 68, 68, 68;
@color-accent1: #63D1BB;
@color-accent2: #56C3B2;
@color-back: #F1F1F1; // футер, зигзаг, блоки формы
@mail-hover: #46C1AE;
@mail-hover-rgb: 70, 193, 174;
@underline: #62D1BA;
@light-grey: #ECECEC;
