// цвета
@color-white: #ffffff;
@color-white-rgb: 255, 255, 255;
@color-black: #000000;
@color-black-rgb: 0, 0, 0;
@almost-black-rgb: 0, 1, 1;
@color-text: #444444;
@color-text-rgb: 68, 68, 68;
@color-accent1: #63D1BB;
@color-accent2: #56C3B2;
@color-back: #F1F1F1; // футер, зигзаг, блоки формы
@mail-hover: #46C1AE;
@block-hover: #59D5BC;
@mail-hover-rgb: 70, 193, 174;
@underline: #62D1BA;
@light-grey: #ECECEC;
@more-grey: #C6C6C6;
@one-more-grey: #E5E5E5;

// размеры устройств
@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width: 320px;
